:root {
    --background-color: #fff;
    --btn-color: #0987f2;
    --btn-text-color: #fff;
    --project-card-bg: rgba(255, 255, 255, 0);
    --text-color: #222;
    --form-text-color: #555;
    --footer-text-color: #888;
}

[data-theme='dark'] {
    --background-color: #222;
    --btn-color: #fff;
    --btn-text-color: #222;
    --project-card-bg: #fff;
    --text-color: #fff;
    --form-text-color: #fff;
    --footer-text-color: #bbb;
}

/* Body styles */
body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 60px; /* Padding is more consistent than using margin-bottom */
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h1, h2, h3, p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* Typography */
h1 {
    font-family: 'Rubik', sans-serif;
    font-size: clamp(32px, 5vw, 48px); /* Dynamic font sizing */
    text-transform: uppercase;
}

h2, h3 {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size: clamp(20px, 3.5vw, 24px); /* Dynamic font size for h2/h3 */
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: clamp(16px, 2.5vw, 20px); /* Dynamic sizing for paragraphs */
    font-weight: 300;
}

/* Section Title */
.sectionTitle {
    margin-bottom: clamp(10px, 2vw, 75px); /* Adjusts as per the screen */
}

.hover {
    cursor: pointer;
}

/* Responsive Styles */
@media (min-width: 800px) {
    #root {
        gap: 100px;
    }
    html, body {
        margin-top: 5vh;
    }

    .sectionTitle {
        margin-bottom: 60px;
    }
}

@media (min-width: 1400px) {
    #root {
        width: 80%;
    }
    html, body {
        margin-top: 8vh;
    }

    .sectionTitle {
        margin-bottom: 75px;
    }
}
