:root {
    --background-color: #fff;
    --text-color: #222;
    --primary-color: #3498db;
    --hover-color: #2980b9;
    --transition-duration: 0.3s;
}

[data-theme='dark'] {
    --background-color: #222;
    --text-color: #fff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    width: 100%;
}

.navbarItems_colorMode_hamburger,
.navbarItems {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}
.navbarItems ul {
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0;
  }


.navbarItems li {
    list-style: none;
}

.navbarContent {
    font-size: 1rem; /* Use rem for scalable font size */
    font-weight: 400;
    cursor: pointer;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--text-color);
    transition: color var(--transition-duration), transform var(--transition-duration);
}

.navbarContent:hover {
    color: var(--hover-color);
    transform: scale(1.05);
}

.navHamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    transition: transform var(--transition-duration);
}

.navHamburger:hover {
    transform: scale(1.1);
}

.navHamburgerLine,
.colorModeLine {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    transition: transform var(--transition-duration);
}

.colorModeLine {
    width: 45px;
    height: 4px;
    transform: rotate(90deg);
    transform-origin: center;
    margin-left: 16px;
    border-radius: 4px;
}

.colorModeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorMode {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform var(--transition-duration);
}

.colorMode:hover {
    transform: scale(1.2);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imgLogo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.namely {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

/* Active State */
.active .navbarItems {
    display: block;
}

.active .navHamburgerLine:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.active .navHamburgerLine:nth-child(2) {
    opacity: 0;
}

.active .navHamburgerLine:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Media Queries */
@media (max-width: 1400px) {
    .navbarItems {
        position: fixed;
        top: 100px;
        right: 0;
        width: 100%;
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color);
        transform: translateX(100%);
        transition: transform var(--transition-duration) ease-in-out;
    }

    .navbarItems ul {
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .navHamburger {
        display: flex;
    }

    .active .navbarItems {
        transform: translateX(0);
    }
}

@media (max-width: 800px) {

    .navHamburgerLine {
        width: 20px;
        height: 2px;
    }

    .imgLogo {
        width: 40px;
        height: 40px;
    }

    .namely {
        font-size: 1.25rem;
    }

    .navbarContent {
        font-size: 0.875rem; /* Scaled down for smaller screens */
    }

    .colorModeLine {
        width: 35px;
        height: 3px;
    }

    .colorMode {
        width: 25px;
        height: 25px;
    }

    .navbarItems {
        top: 70.49px;
        right: 0;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .navHamburgerLine {
        width: 12px;
        height: 2px;
    }

    .imgLogo {
        width: 25px;
        height: 25px;
    }

    .namely {
        font-size: 1rem;
    }

    .navbarContent {
        font-size: 0.875rem;
    }

    .colorModeLine {
        width: 25px;
        height: 3px;
    }

    .colorMode {
        width: 20px;
        height: 20px;
    }

    .navbarItems {
        top: 68px;
    }
}
